<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <!-- Select2 CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Edit Shelter</h1>

    <form action="/shelters/<%= shelter.id %>?_method=PUT" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="<%= shelter.name %>" />

      <br>

      <label for="location">Location:</label>
      <input
        type="text"
        id="location"
        name="location"
        value="<%= shelter.location %>"
      />

      <br>

      <label for="latitude">Latitude:</label>
      <input
        type="text"
        id="latitude"
        name="latitude"
        value="<%= shelter.latitude %>"
      />

      <br>

      <label for="longitude">Longitude:</label>
      <input
        type="text"
        id="longitude"
        name="longitude"
        value="<%= shelter.longitude %>"
      />

      <br>

      <label for="description">Description:</label>
      <select id="description" name="description[]" multiple class="select2">
        <% availableTags.forEach(tag => { %>
        <option value="<%= tag %>" <% if (shelter.description.includes(tag)) { %> selected <% } %>><%= tag %></option>
        <% }) %>
      </select>

      <br>

      <label for="needs">Needs:</label>
      <select id="needs" name="needs[]" multiple class="select2">
        <% availableNeeds.forEach(need => { %>
        <option value="<%= need %>" <% if (shelter.needs.includes(need)) { %> selected <% } %>><%= need %></option>
        <% }) %>
      </select>

      <br>

      <button type="submit">Update Shelter</button>

    <a href="/profile">Back to Shelter List</a>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
      $(document).ready(function () {
        $(".select2").select2();
      });
    </script>
  </body>
</html>
